
.laPacman,
.laPacman > div {
    position: relative;
    box-sizing: border-box;
}
.laPacman {
    left:35%;
    transform:translate(-50%,-50%);
    display: block;
    font-size: 0;
    color: #f3c130;
    transform: rotate(360deg);
}

.laPacman > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.laPacman{
    width: 96px;
    height: 96px;
}
.laPacman > div:nth-child(1),
.laPacman > div:nth-child(2) {
    width: 0;
    height: 0;
    background: transparent;
    border-style: solid;
    border-width: 30px;
    border-right-color: transparent;
    border-radius: 100%;
    animation: pacman-rotate-half-up .5s 0s infinite;
}

.laPacman > div:nth-child(2) {
    margin-top: -70px;
    animation-name: pacman-rotate-half-down;
}
.laPacman > div:nth-child(3),
.laPacman > div:nth-child(4),
.laPacman > div:nth-child(5),
.laPacman > div:nth-child(6) {
    position: absolute;
    top: 30%;
    left: 200%;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    opacity: 0;
    animation: pacman-balls 2s 0s infinite linear;
}
.laPacman > div:nth-child(3) {
     animation-delay: -1.44s;
}
.laPacman > div:nth-child(4) {
     animation-delay: -1.94s;
}
.laPacman > div:nth-child(5) {
     animation-delay: -2.44s;
}
.laPacman > div:nth-child(6) {
     animation-delay: -2.94s;
}
/*
 * Animations
 */

@keyframes pacman-rotate-half-up {
    0%,
    100% {
          transform: rotate(270deg);
    }
    50% {
          transform: rotate(360deg);
    }
}

@keyframes pacman-rotate-half-down {
    0%,
    100% {
          transform: rotate(90deg);
    }
    50% {
         transform: rotate(0deg);
    }
}

@keyframes pacman-balls {
    0% {
        left: 200%;
        opacity: 0;
         transform: translateY(-50%);
    }
    5% {
        opacity: .5;
    }
    66% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
    100% {
        left: 0;
        transform: translateY(-50%);
    }
}
