@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(0);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate(var(--x1),var(--y1));
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(var(--x2),var(--y2));
	}
}

.floating{
  box-sizing: border-box;
  border-radius: 50%;
	overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
  margin:10px;
  cursor:pointer;
	--x1: 0px;
	--y1:-20px;
	--y2:0px;
	--x2:0px
}

:root{
	--gradient:linear-gradient(
			45deg,#f2f2f2,
			#ededed,
			#ededed,
			#d1d1d1,
			#d1d1d1,
			#c4c4c4,
			#b5b5b5
		);

		--gradient2:linear-gradient(
				45deg,#ffffff,
				#ededed,
				#e0e0e0,
				#d1d1d1,
				#c4c2c2,
				#2b2a2a,
				#1a1a1a
			)
}

.bg{
	background-image: var(--gradient);
	background-size: 800%;
	background-position: left;
	animation: bg-animation 20s infinite alternate
}

@keyframes bg-animation {
	0%{
		background-position: left
	}
	100%{
		background-position: right;
	}
}

.heading{
	background-image:var(--gradient2);
	background-size: 500%;
	background-position: left;
	background-clip: text;
	color:transparent;
	animation: bg-animation 20s infinite alternate-reverse
}
